* {
    box-sizing: border-box;
}

.date-time-error {
    background: red;
}

#inventory-cards {
    display: flex;
    flex-flow: row wrap;
}

#inventory-cards > div {
    border: 2px solid black;
    width: 200px
}

#inventory-cards > div > img {
    width: 100%;
}

#password-page {
    position: absolute;
    z-index: 3;
    width: 96vw;
    height: 96vh;
    background: white;
}

#password-page.successful {
    display: none;
}

.hidden {
    display: none !important;
}

#modal-box {
    width: 500px;
    height: 600px;
}

#modal-box[open] {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

#modal-box.inventory-modal img {
    width: 400px;
    height: auto;
    max-height: 400px;
}

#modal-box.request-modal[open] > div {
    display: flex;
    flex-flow: row nowrap;
    height: 50px;
    align-items: center;
}

#modal-box.request-modal[open] img {
    height: 50px;
    width: auto;
}

#modal-box.request-modal[open] div:has(img) {
    width: 100px;
    flex-shrink: 0;
}

#modal-box.request-modal[open] > div > p:nth-child(2),
#modal-box.request-modal[open] > div > p:nth-child(3) {
    width: 100px;
    border: 2px solid black;
    height: 100%;
    flex-shrink: 0;
    white-space: pre;
}

#modal-box.request-modal[open] > div > p:nth-child(4) {
    width: 75px;
    border: 2px solid black;
    height: 100%;
    flex-shrink: 0;
}

/*
Source - https://stackoverflow.com/a/71486092
Posted by Harvey Mushman
Retrieved 2026-03-29, License - CC BY-SA 4.0
*/
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    margin:0;
}
input[type="datetime-local"]::-webkit-datetime-edit {
    display:none;
}
